:root {
    --primary: #231010;
    --secondary: #d9ead3;
    --tertiary: #a6a6a6;
    --light: #ffffff;
    --dark: #2d2b26;
}

* {
    box-sizing: border-box;
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--secondary);
    color: var(--dark);
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary);
    height: 150px;
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    font-size: 20px;
    font-weight: normal;
    justify-content: left;
    padding: 18px 0px 12px 50px;
    width: 400px;
}

nav a {
    color: var(--secondary);
    margin-right: 20px;
}

nav a:hover {
    color: var(--secondary);
}

.logout-btn {
    background: none;
    border: none;
    color: var(--secondary);
    cursor: pointer;
    margin-right: 20px;
    padding: 0;
}

.logout-btn:hover {
    text-decoration: underline;
}

header h1 {
    background-color: var(--secondary);
    border-radius: 8px;
    color: var(--primary);
    filter: drop-shadow(5px 5px 0px var(--tertiary));
    line-height: 1.25;
    margin: 8px 0px 10px 50px;
    width: 300px;
}

.page-title {
    font-size: 32px;
    font-weight: 800;
    padding: 5px 5px;
    text-align: center;
}

main {
    padding-top: 20px;
}

.blog-post {
    background-color: var(--primary);
    border-color: var(--primary);
    border-width: 3px;
    margin-bottom: 20px;
}

.blog-post-header {
    background-color: var(--primary);
    border-radius: 0;
    color: var(--secondary);
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0 10px 20px;
}

.blog-post-byline {
    display: inline;
    float: right;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 20px 0 0;
}

.blog-post-text {
    background-color: var(--secondary);
    color: var(--dark);
    font-size: 16px;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
}

.login-button {
    width: 100%;
}

.signup-link {
    margin-top: 10px;
}

footer h2 {
    font-size: 16px;
    margin-top: 10px
}








